[general]

[http]
port = 1236

;Compression formats to handle locally; turn these off only if the host is underpowered
[compression]
bz2 = yes
gzip = yes
lzma = yes

[storage]
;The path used for cached files; must end with separator
path = /home/flan/media-storage_cache/
;Metadata file extension
metadata_extension = meta
;The number of seconds to wait between purge cycles
purge_interval = 5.0

;Rules that can be used to keep bad metadata from impacting performance
[rules]
;Cached files will be held for no less than a few seconds
min_cache_time = 10.0
;Cached files will be held for no more than a considerably longer period of time
max_cache_time = 7200.0
timeout = 60.0

[log]
file_path = ./log
file_history = 7
file_verbosity = INFO
console_verbosity = DEBUG ;If blank, console logging is disabled

[email]
;The number of seconds to wait for SMTP operations to complete
timeout = 2.0
host = localhost
port = 25
tls = no
username = 
password = 

;If enabled, critical failure notifications are sent to an e-mail address
alert = no
;The number of seconds to wait between alert messages
alert_cooldown = 300.0
alert_subject = Critical failure in Media Storage caching proxy on some host
alert_from = media-storage_cache@example.org
alert_to = media-storage_cache@example.com

