[general]
;Must be disabled to get console output, but enabled for proper behaviour in daemonised contexts
run_as_daemon = yes
pidfile = /home/flan/.media-storage.pid

[http]
port = 1234

[database]
host = localhost
;port = 
;username = 
;password = 
database = media-storage
collection = entities

[storage]
;The minute-scale on which directories will be sub-divided
;This should be small enough to avoid filesystem limitations, but big enough to help operators
minute_resolution = 5

;The filesystem that serves the generic family class
;Any specialised families must be enumerated in the [families] section
;Any leading colon-delimited items are interpreted as behaviour hints
; - zerodel : zero-out files before deleting them (probably good for thin-provisioned storage)
generic_family = zerodel:file:///home/flan/media-storage/generic

[families]
;Any specialised families must be enumerated here, with the value on the left
;being the literal family name
;Families should not be nested, but they may reside on the same partition
test = file:///home/flan/media-storage/test

[security]
;All hosts that may access stored resources without supplying the associated keys
;This should be limited to, at most, localhost and the operations console
;Values are IPs (v4 or v6), separated by whitespace
trusted_hosts = 127.0.0.1
;The number of records to return on a query
query_size = 100

[maintainers]
;If no window values are specified, the thread won't be instantiated at all
;Sleep times cause the thread to wait for that many seconds, after completing a sweep, before
;starting again
deletion_windows = mo[16:00..23:59] tu[16:00..23:59] we[16:00..23:59] th[16:00..23:59] fr[16:00..23:59] sa[16:00..23:59] su[16:00..23:59]
deletion_sleep = 300

compression_windows = mo[0:00..3:59] tu[0:00..3:59] we[0:00..3:59] th[0:00..3:59] fr[0:00..3:59] sa[0:00..3:59] su[00:00..3:59]
compression_sleep = 1800

database_windows = fr[20:00..23:59] sa[0:00..6:00,20:00..23:59] su[0:00..6:00,20:00..23:59] mo[0:00..6:00]
database_sleep = 43200

filesystem_windows = 
filesystem_sleep = 43200

[log]
file_path = ./log
file_history = 7
file_verbosity = INFO
console_verbosity = DEBUG ;If blank, console logging is disabled

[email]
;The number of seconds to wait for SMTP operations to complete
timeout = 2.0
host = localhost
port = 25
tls = no
username = 
password = 

;If enabled, critical failure notifications are sent to an e-mail address
alert = no
;The number of seconds to wait between alert messages
alert_cooldown = 300.0
alert_subject = Critical failure in Media Storage system on some host
alert_from = media-storage@example.org
alert_to = media-storage@example.com

